<div>
    <div class="page-header">
        <ol class="breadcrumb">
            <li><a ui-sref="home">home</a></li>
            <li class="active">About</li>
        </ol>
        <h1>About</h1>
    </div>

    <!--<ul class="pager">-->
    <!--<li class="previous"><a href="#">&larr; Prev</a> </li>-->
    <!--<li class="next"><a href="#">Next &rarr;</a> </li>-->
    <!--</ul>-->

    <ul class="pagination pagination-sm">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>

    <p>Lorem ipsum dolor sit amet, feugiat pede vestibulum, tempor ut felis, amet justo. Montes at conubia,
        elit molestie vehicula elit at, wisi viverra in, wisi pharetra. Sem gravida,
        scelerisque lorem phasellus laoreet tincidunt donec. Mi metus dui neque non. Nunc lobortis,
        sed dolore magna etiam mi metus quos, nonummy tincidunt mauris, id fermentum, praesent nostra velit
        consequat dignissim nullam.</p>


    <h3>Cast</h3>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Actor</th>
                        <th>Character</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>Jeff</td>
                        <td>The Dude</td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td>Walter Sobchak</td>
                    </tr>
                    <tr>
                        <td>Julianne Moore</td>
                        <td>Maude Lebowski Maude Lebowski</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <h3>Photo</h3>

    <div class="row">
        <div class="col-md-6">
            <ul class="list-unstyled">
                <li class="list-group-item">
                    <span class="badge">15<span class="glyphicon glyphicon-earphone"></span> </span>
                    <a href="https://www.flickr.com/photos/eliosk/7537329044/in/gallery-flickr-72157663329258194/"
                       property="cc:attributionName"
                       rel="cc:attributionURL" target="_blank">ginnerobot</a>on<a
                        href="https://www.flickr.com/photos/eliosk/7537329044/in/gallery-flickr-72157663329258194/"
                        property="cc:attributionName" rel="cc:attributionURL" target="_blank">Flickr</a>
                </li>
                <li class="list-group-item">
                    <a href="https://www.flickr.com/photos/fabio_petry/16861634636/in/gallery-flickr-72157663329258194/"
                       property="cc:attributionName"
                       rel="cc:attributionURL" target="_blank">a4gpa</a>on
                    <a href="https://www.flickr.com/photos/fabio_petry/16861634636/in/gallery-flickr-72157663329258194/"
                       property="cc:attributionName" rel="cc:attributionURL" target="_blank">Flickr</a>
                </li>
                <li class="list-group-item">
                    <a href="https://www.flickr.com/photos/ajay13/20585952874/in/gallery-flickr-72157663329258194/"
                       property="cc:attributionName"
                       rel="cc:attributionURL" target="_blank">ginnerobot</a>on
                    <a href="https://www.flickr.com/photos/ajay13/20585952874/in/gallery-flickr-72157663329258194/"
                       property="cc:attributionName" rel="cc:attributionURL" target="_blank">Flick</a>
                </li>
            </ul>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="thumbnail">
                <a href="#"><img src="images/image1.jpg" class="img-responsive" alt="1"></a>

                <div class="caption">
                    <h3>First</h3>

                    <p>Lorem ipsum dolor sit amet, feugiat pede vestibulum, tempor ut felis</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="thumbnail">
                <a href="#"><img src="images/image2.jpg" class="img-responsive" alt="2"></a>

                <div class="caption">
                    <h3>Second</h3>

                    <p>Lorem ipsum dolor sit amet, feugiat pede vestibulum, tempor ut felis</p>
                </div>
            </div>
        </div>


        <div class="col-md-4 col-sm-6">
            <div class="thumbnail">
                <a href="#"><img src="images/image3.jpg" class="img-responsive" alt="3"></a>

                <div class="caption">
                    <h3>third</h3>
                    <p>Lorem ipsum dolor sit amet, feugiat pede vestibulum, tempor ut felis</p>
                </div>
            </div>
        </div>
    </div>
</div>