<header class="container">
    <div id="menu" class="navbar navbar-default">
        <div class="navbar-header">
            <button class="btn btn-success navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="glyphicon glyphicon-chevron-down"></span></button>
            <div id="logo">
                <a ui-sref="home"><h6>The big lebowski</h6></a>
            </div>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav active"><a ui-sref="home">Home</a></li>
                <li class="nav"><a ui-sref="about">About</a></li>
                <li class="nav"><a ui-sref="contact">Contact</a></li>
            </ul>
        </div>

    </div>
</header>