<div class="page-header">
    <h1>The big lebowski fan page</h1>

    <p class="text-primary">Lorem ipsum dolor sit amet</p>
</div>

<div class="row visible-md visible-lg">
    <img src="images/image1.jpg" alt="1" class="col-md-2 col-md-offset-2">
    <img src="images/image2.jpg" alt="2" class="col-md-2">
    <img src="images/image3.jpg" alt="3" class="col-md-2">
    <img src="images/image4.jpg" alt="4" class="col-md-2">
</div>

<section id="main" class="col-lg-8 col-md-8 col-sm-9 ">


    <p class="lead">Lorem ipsum dolor sit amet, feugiat pede vestibulum, tempor ut felis, amet justo. Montes at conubia,
        elit molestie vehicula elit at,<em> wisi viverra in, wisi pharetra</em>. Sem gravida,
        scelerisque lorem phasellus laoreet tincidunt donec. Mi metus dui neque non. Nunc lobortis,
        sed dolore magna etiam mi metus quos, nonummy tincidunt mauris, id fermentum, praesent nostra velit
        consequat dignissim nullam.</p>

    <img src="images/berlin.jpg" alt="Berlin" class="pull-right img-thumbnail">

    <p>Lorem ipsum dolor sit amet, feugiat pede vestibulum, tempor ut felis, amet justo. Montes at conubia,
        elit molestie vehicula elit at, wisi viverra in, wisi pharetra. Sem gravida,
        scelerisque lorem phasellus laoreet tincidunt donec. Mi metus dui neque non. Nunc lobortis,
        sed dolore magna etiam mi metus quos, nonummy tincidunt mauris, id fermentum, praesent nostra velit
        consequat dignissim nullam.</p>

</section>
<section id="sidebar" class="col-lg-4 col-md-4 col-sm-3 ">
    <h1>Sidebar</h1>

    <p>Lorem ipsum dolor sit amet, feugiat pede vestibulum, tempor ut felis, amet justo. Montes at conubia,
        elit molestie vehicula elit at, wisi viverra in, wisi pharetra. Sem gravida,
        scelerisque lorem phasellus laoreet tincidunt donec. Mi metus dui neque non. Nunc lobortis,
        sed dolore magna etiam mi metus quos, nonummy tincidunt mauris, id fermentum, praesent nostra velit
        consequat dignissim nullam.</p>
    <img src="images/city-sidebar.jpg" alt="sidebar-city" class="img-thumbnail">
</section>